<h4>Data Tables</h4>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Table</mat-expansion-panel-header>
    <div>
      <mat-card class="fullContainer">
        <mat-card-subtitle>Table with Sorting (ID and Name), Filter (All fields) and Pagination</mat-card-subtitle>
        <mat-card-content>
          <!-- Filter for the Table-->
          <div class="w100percent">
            <mat-form-field>
              <input matInput (keyup)="filterTableData($event.target.value)" placeholder="Filter by any column">
            </mat-form-field>
          </div>
          <!-- Table -->
          <mat-table [dataSource]="tableDataSource" matSort>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{employee.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="band">
              <mat-header-cell *matHeaderCellDef> Band </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{employee.band}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{employee.id}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="tableColumnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumnsToDisplay;"></mat-row>
          </mat-table>
          <!-- Pagination -->
          <mat-paginator [pageSizeOptions]="[5,10,20]" (page)="onPageEvent($event)"></mat-paginator>
        </mat-card-content>
      </mat-card><br>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Sort Header</mat-expansion-panel-header>
    <div>
      Refer Above example. It convers sorting table.
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Paginator</mat-expansion-panel-header>
    <div>
      Refer above example. It convers pagination. Check console for more data.
    </div>
  </mat-expansion-panel>  
</mat-accordion>